
* {
  box-sizing: border-box;
}

a {
  color: #f6993f;
  text-decoration: none;
}

input {
  outline: none;
}

a:hover {
  color: orange;
}

@media screen and (min-width: 1024px) {
  .w-500 {
    width: 500px;
  }
}

.Logo {
  width: 173px;
  height: 36px;
}

/** Highlights */


.highlight {
  background: linear-gradient(rgba(255, 255, 255, 0.1), #000000);
  opacity: 0.1;
  display: inline-block;
  width: 25rem;
  height: 50rem;
  position: absolute;
}

.highlight.highlight--top-left {
  transform: rotate(-44deg);
  top: -10rem;
  right: -20rem;
}

.highlight.highlight--top-right {
  transform: rotate(44deg);
  top: -2rem;
  left: -20rem;
}

.highlight.highlight--bottom-left {
  transform: rotate(-136deg);
  top: -15rem;
  right: -20rem;
}

.highlight.highlight--bottom-right {
  transform: rotate(136deg);
  top: -15rem;
  left: -25rem;
}

/** Landing Header */

.cover--cat {
  background-image: url("/images/cat.jpg");
  min-height: 100vh;
  display: flex;
  justify-content: start;
  align-items: start;
  text-align: center;
}

.bg-black-transparent {
  background-color: rgba(0, 0, 0, 0.7);
}

/** Section */

.awww-section__title {
  font-size: 2.5rem;
}

.awww-section__content {
  font-size: 1.2rem;
}

@media screen and (max-width: 992px) {
  .awww-section__title {
    font-size: 2rem;
  }
}

/** Pricing */

.pull-up {
  transform: translateY(-50%);
}

.pull-up-sm {
  transform: translateY(-23px);
}

/** Subscribe */

.subscribe {
  padding-bottom: 180px;
  padding-top: 20px;
}

/** Footer */

.pull-up {
  transform: translateY(-50%);
}
